<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dindamaylan.tasku">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".HomeTodoAct"
            android:exported="false" />
        <activity
            android:name=".TaskDetailAct"
            android:exported="false" />
        <activity
            android:name=".TaskAddAct"
            android:exported="false" />
        <activity
            android:name=".HomeMissingAct"
            android:exported="false" />
        <activity
            android:name=".HomeDoneAct"
            android:exported="false" />
        <activity
            android:name=".HomeDoingAct"
            android:exported="false" />
        <activity
            android:name=".SignUpAct"
            android:exported="false" />
        <activity
            android:name=".HomeAct"
            android:exported="false" />
        <activity
            android:name=".GetStartedAct"
            android:exported="false" />
        <activity
            android:name=".SignInAct"
            android:exported="false" />
        <activity
            android:name=".SplashScreenAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>